[Unit]  
Description=codepipeline service for notecommerce
After=network.target

[Service]  
WorkingDirectory=/codepipeline    
ExecStart=/bin/bash -c 'cd /codepipeline && /usr/local/go/bin/go run app/main.go notecommerce'

Type=simple
Restart=always
RestartSec=1

KillSignal=SIGINT

[Install]      
WantedBy=multi-user.target  